{% extends "base.html" %}
{% load static %}
{% block title %}Add Equipment {% endblock title %}
{% block head %}
<style>
        .form-label {
            text-align: right;
            display: block;
        }
        .form-control {
            width: 100%;
        }
        .form-group {
            margin-bottom: 1rem;
        }
    </style>
{% endblock head %}
{% block body %}
<div class="container-common">
    <div class="title">
        <h4 class="h4 fw-bold" style="color: black; width: 90%; margin: 1rem 0;">Add New Equipment Record</h4>
        {% comment %} <i class="fa-solid fa-gear fa-sm" style="color:rgb(105, 105, 105);padding: 1.5rem 0rem 0rem 5.5rem;"></i> {% endcomment %}
    </div>
    <div class="container mt-5">
        {% comment %} <h1>Add New Equipment Record</h1> {% endcomment %}
        {{form.media}}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <!-- First Column -->
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.number.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.number }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.description.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.short_name.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.short_name }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.shop_number.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.shop_number }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.bay.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.bay }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.column.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.column }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.section.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.section }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.section_eln.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.section_eln }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.equipment_type.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.equipment_type }}
                        </div>
                    </div>
                </div>
                <!-- Second Column -->
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.sr_number.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.sr_number }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.model_number.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.model_number }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.manufacturer_code.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.manufacturer_code }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.supplier_code.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.supplier_code }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.indian_agent.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.indian_agent }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.make.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.make }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.cost.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.cost }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.cost_in_lakhs.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.cost_in_lakhs }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.po_number.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.po_number }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.po_date.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.po_date }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.received_date.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.received_date }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.date_of_commissioning.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.date_of_commissioning }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.ptc_issue_date.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.ptc_issue_date }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.warranty.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.warranty }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.amc_covered_in_po.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.amc_covered_in_po }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.amc_type.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.amc_type }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.amc_validity.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.amc_validity }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.recovery_value_warranty.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.recovery_value_warranty }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.percentage_avalability_in_warranty.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.percentage_avalability_in_warranty }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.specification.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.specification }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.machine_image.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.machine_image }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label form-label">{{ form.po_copy.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.po_copy }}
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script> {% endcomment %}

{% endblock body %}
