{% extends "base.html" %}
{% load static %}
{% block title %}Equipment{% endblock title %}
{% block head %}
{% comment %} <link rel="stylesheet" href="{% static "assets/css/home.css" %}"> {% endcomment %}
<style>
        .button-container {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 15px;
        }
        .button-container a {
            margin-left: 5px;
        }
        .button-container a i {
            margin-right: 0px;
        }
</style>
{% endblock head %}
{% block body %}
<div class="container-common">
    <div class="title">
        <h4 class="h4 fw-bold" style="color: black; width: 90%; margin: 1rem 0;">Equipment</h4>
        {% comment %} <i class="fa-solid fa-gear fa-sm" style="color:rgb(105, 105, 105);padding: 1.5rem 0rem 0rem 5.5rem;"></i> {% endcomment %}
    </div>
    {% if request.user.is_superuser %}
    <div class="container-main">
        <div class="button-container">
        <a href="{% url "add-equipment" %}" class="btn btn-primary" title="Add New Record">
            <i class="fas fa-plus"></i> Add New Record
        </a>
    </div>
    {% endif %}
<table id="equipment-list" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Sl</th>
            <th>Machine Image</th>
            <th>Type</th>
            <th>Equipment No.</th>
            <th>Description</th>
            <th>Short Name</th>
            <th>Shop</th>
            <th>PO Number</th>
            <th>PO Date</th>
            <th>Supplier</th>
            <th>Cost (in Lakhs)</th>
            <th>Date of Commissioning</th>
            {% if request.user.is_superuser %}<th>Action</th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for eqp in equipments %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>
                {% if eqp.machine_image %}
                    <img src="{{ eqp.machine_image.url }}" alt="Machine Image" width="100px" height="100px" style="object-fit: scale-down;" />
                {% else %}
                    No Image
                {% endif %}
            </td>
            <td>{{eqp.equipment_type}}</td>
            <td>{{eqp.number}}</td>
            <td>{{eqp.description}}</td>
            <td>{{eqp.short_name}}</td>
            <td>{{eqp.shop_number}}</td>
            <td>{{eqp.po_number}}</td>
            <td>{{eqp.po_date}}</td> 
            <td>{{eqp.supplier_code}}</td>
            <td>{{eqp.cost_in_lakhs}}</td>
            <td>{{eqp.date_of_commissioning}}</td>
            {% if request.user.is_superuser %}
            <td>
                <a href="/eq/equipment/update/{{eqp.id}}" type="button" title="Update"><i class="fa-regular fa-pen-to-square" ></i></a>
                <a href="/eq/equipment/delete/{{eqp.id}}" type="button" title="Delete"><i class="fa-solid fa-trash-can"></i></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready( function () {
    $('#equipment-list').DataTable({
        layout: {
            topStart: {
                buttons: [{
                    extend: 'excelHtml5',
                    title: 'Equipment List'
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Equipment List',
                    orientation: 'portrait',
                    pageSize: 'A4'
                }]
            }
        }
    });
} );
</script>
{% endblock body %}

