{% extends "base.html" %}
{% load static %}
{% block title %}Master{% endblock title %}
{% block head %}
{% comment %} <link rel="stylesheet" href="{% static "assets/css/home.css" %}"> {% endcomment %}
{% endblock head %}
{% block body %}
<div class="container-common">
    <div class="title">
        <h4 class="h4 fw-bold" style="color: black; width: 90%; margin: 1rem 0;">Equipment</h4>
        {% comment %} <i class="fa-solid fa-gear fa-sm" style="color:rgb(105, 105, 105);padding: 1.5rem 0rem 0rem 5.5rem;"></i> {% endcomment %}
    </div>
    <div class="container-main">
<table id="equipment-list" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Sl</th>
            <th>Type</th>
            <th>Equipment No.</th>
            <th>Description</th>
            <th>Short Name</th>
            <th>Shop</th>
            <th>PO Number</th>
            <th>PO Date</th>
            <th>Supplier</th>
            <th>Cost (in Lakhs)</th>
            <th>Date of Commissioning</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for eqp in equipments %}
        <tr>
            <td>{{eqp.id}}</td>
            <td>{{eqp.equipment_type}}</td>
            <td>{{eqp.number}}</td>
            <td>{{eqp.description}}</td>
            <td>{{eqp.short_name}}</td>
            <td>{{eqp.shop_number}}</td>
            <td>{{eqp.po_number}}</td>
            <td>{{eqp.po_date}}</td>
            <td>{{eqp.supplier_code}}</td>
            <td>{{eqp.cost_in_lakhs}}</td>
            <td>{{eqp.date_of_commissioning}}</td>
            <td>Action</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready( function () {
    $('#equipment-list').DataTable();
} );
</script>
{% endblock body %}

