annotated-types==0.7.0
asgiref==3.7.2
Django==4.2.4
django-bootstrap-datepicker-plus==5.0.5
django-bootstrap5==24.2
django-crispy-forms==2.1
django-filter==23.2
django-quill==0.1.0
django-quill-editor==0.1.40
djangorestframework==3.14.0
drf-yasg==1.21.7
inflection==0.5.1
packaging==23.1
psycopg2-binary==2.9.6
pydantic==2.7.1
pydantic_core==2.18.2
pytz==2023.3
PyYAML==6.0.1
sqlparse==0.4.4
typing_extensions==4.12.0
uritemplate==4.1.1
